<!DOCTYPE html>
<html lang="en">
  <head>
	  {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static "assets/img/moving-truck.png" %}">

    <title>PackCar. You deliver what you choose.</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "assets/css/bootstrap.css" %}"rel="stylesheet">

    <!-- Materialize CSS -->
    <link type="text/css" rel="stylesheet" href="{% static "assets/css/materialize.min.css" %}" media="screen,projection"/>

    <!-- Custom styles -->
    <link href="{% static "assets/css/style.css" %}" rel="stylesheet">
    <link href={% static "assets/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <script src="{% static "assets/js/modernizr.js" %}"></script>
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">PackCar.</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/"></a></li>
            <li><a href="about.html"></a></li>
            <li><a href="contact.html"></a></li>
            <li><a href="/login">LOG IN</a></li>
            <li style="color:#fff;"><a>|</a></li>
            <li><a href="/register">SIGN UP</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<!-- *****************************************************************************************************************
	 HEADERWRAP
	 ***************************************************************************************************************** -->
	<div id="headerwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h2 style="color:#fff;">PackCar</h2>
					<h5 style="color:#384452;">Your online platform for delivering and sending Packages via Cars.</h5>
				</div>
				<div class="col-lg-8 col-lg-offset-2 himg">
					<img src="{% static "assets/img/vectors/logo/logo.png" %}"class="img-responsive">
				</div>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /headerwrap -->

	<!-- *****************************************************************************************************************
	 SERVICE LOGOS
	 ***************************************************************************************************************** -->
	 <div id="service">
	 	<div class="container">
 			<div class="row centered">
 				<div class="col-md-4">
 					<i class="glyphicon glyphicon-leaf"></i>
 					<h5 style="color:#384452; font-weight:bold;">Find Your Perfect Car</h5>
 					<p>Our foremost priority is the removal of poverty, hunger and malnutrition, disease and illiteracy. All social welfare programmes must be implemented efficiently.</p>
 				</div>
 				<div class="col-md-4">
 					<i class="glyphicon glyphicon-fire"></i>
 					<h5 style="color:#384452; font-weight:bold;">Find Your Perfect Delivery</h5>
 					<p>Agencies involved in the delivery of services should have a strong sense of duty and work in a transparent, corruption-free, time-bound and accountable manner.</p>
 				</div>
 				<div class="col-md-4">
 					<i class="glyphicon glyphicon-gift"></i>
 					<h5 style="color:#384452; font-weight:bold;">Enjoy The Service</h5>
 					<p>We think we've built a bit of a culture and a market around people who are open and seek out that social interaction. People crave community, more efficient living, and easier access to the places they want to go.</p>
 				</div>		 				
	 		</div>
	 	</div><! --/container -->
	 </div><! --/service -->
	 
	<!-- *****************************************************************************************************************
	 PORTFOLIO SECTION
	 ***************************************************************************************************************** -->
	 <h3 style="text-align:center;color:#00b3fe;">REVIEWS ABOUT OUR PLATFORME</h3>
	 <div class="container">

      	<div class="col s12 m4 offset-m2 l4 offset-l3">
	        <div class="card-panel grey lighten-5 z-depth-1" style="padding: 20px 10px 1px 40px !important;">
	          <div class="row valign-wrapper">
	            <div class="col s2">
	              <img src="{% static "assets/img/thumb03.jpg" %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
	              <h6>John Travolta</h6>
	            </div>
	            <div class="col s10">
	              <span class="black-text">
	                <h5 class="index-review">"If I will ever have to send packages somewhere, I will surly send them via PackCar."</h5>
	              </span>
	            </div>
	          </div>
	        </div>
      	</div>

        <div class="col s12 m4 offset-m2 l4 offset-l3">
	        <div class="card-panel grey lighten-5 z-depth-1" style="padding: 20px 10px 1px 40px !important;">
	          <div class="row valign-wrapper">
	            <div class="col s2">
	             <img src="{% static "assets/img/thumb01.jpg" %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
	             <h6>John Cena</h6>
	            </div>
	            <div class="col s10">
	              <span class="black-text">
	                <h5 class="index-review">"I fullr recommend this platform, it is a verry serious one."</h5>
	              </span>
	            </div>
	          </div>
	        </div>
      	</div>

        <div class="col s12 m4 offset-m2 l4 offset-l3">
	        <div class="card-panel grey lighten-5 z-depth-1" style="padding: 20px 10px 1px 40px !important;">
	          <div class="row valign-wrapper">
	            <div class="col s2">
	              <img src="{% static "assets/img/thumb02.jpg" %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
	              <h6>Chuck Norris</h6>
	            </div>
	            <div class="col s10">
	              <span class="black-text">
	                <h5 class="index-review">"I just loove this platforme, it brings me a lot of help."</h5>
	              </span>
	            </div>
	          </div>
	        </div>
	    </div>

    </div>
	 
	<!-- *****************************************************************************************************************
	 MIDDLE CONTENT
	 ***************************************************************************************************************** -->

	 <div class="container mtb">
	 	<div class="row">
	 		<div class="col-lg-4 col-lg-offset-1">
		 		<h4>More About Our Platform.</h4>
		 		<p>Our platform was meant to help others with some services, specific for delivering our customers products. We trustly encourage others to use it because we are fully responsable for any bad incidents that may ever appear. </p>
	 		</div>
	 		
	 		<div class="col-lg-3">
	 			<h4>Frequently Asked</h4>
	 			<div class="hline"></div>
	 			<p><a href="#">How cool is this platforme?</a></p>
	 			<p><a href="#">How trustly are the drivers?</a></p>
	 			<p><a href="#">How trustly are your customers?</a></p>
	 			<p><a href="#">Will my phonenumber be safe?</a></p>
	 		</div>
	 		
	 		<div class="col-lg-3">
	 			<h4>Meet Our Developing Team</h4>
	 			<div class="hline"></div>
	 			<p><a href="../../about.html">>Silaghi Fineas</a></p>
	 			<p><a href="about.html">>Males Sebastian</a></p>
	 			<p><a href="about.html">>Covaci Emanuel</a></p>
	 		</div>
	 		
	 	</div><! --/row -->
	 </div><! --/container -->
	 
	<!-- *****************************************************************************************************************
	 TESTIMONIALS
	 ***************************************************************************************************************** -->
	 <div id="twrap">
	 	<div class="container centered">
	 		<div class="row">
	 			<div class="col-lg-8 col-lg-offset-2">
	 			<i class="fa fa-comment-o"></i>
	 			<p>I really admire PackCar as a pioneer of the sharing economy and for building community. They've found an elegant way to help drivers make more money and for clients to have authentic experiences. It brings those people together in a unique way.</p>
	 			</div>
	 		</div><! --/row -->
	 	</div><! --/container -->
	 </div><! --/twrap -->
	 
	<!-- *****************************************************************************************************************
	 OUR CLIENTS
	 ***************************************************************************************************************** -->
	 <div id="cwrap">
		 <div class="container">
		 	<div class="row centered">
			 	<h3>OUR SPONSORS</h3>
			 	<div class="col-lg-3 col-md-3 col-sm-3">
			 	</div>
			 	<div class="col-lg-3 col-md-3 col-sm-3">
			 		<a href="https://www.spartantasks.com"><img src="{% static "assets/img/parteners/logoB.png" %}"class="spartan-sponsor img-responsive"><br><span style="float:left;"><b>SpartanTasks</b></span></a>
			 	</div>
			 	<div class="col-lg-3 col-md-3 col-sm-3">
			 		<a href="https://infoeducatie.ro"><img src="{% static "assets/img/parteners/logo.gif" %}" class="img-responsive"></a>
			 	</div>
			 	<div class="col-lg-3 col-md-3 col-sm-3">
			 	</div>
		 	</div><! --/row -->
		 </div><! --/container -->
	 </div><! --/cwrap -->

	 
    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static "assets/js/bootstrap.min.js" %}"></script>
	<script src="{% static "assets/js/retina-1.1.0.js" %}"></script>
	<script src="{% static "assets/js/jquery.hoverdir.js" %}"></script>
	<script src="{% static "assets/js/jquery.hoverex.min.js" %}"></script>
	<script src="{% static "assets/js/jquery.prettyPhoto.js" %}"></script>
  	<script src="{% static "assets/js/jquery.isotope.min.js" %}"></script>
  	<script src="{% static "assets/js/custom.js" %}"></script>
  	<script type=text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
     <script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>


    <script>
// Portfolio
(function($) {
	"use strict";
	var $container = $('.portfolio'),
		$items = $container.find('.portfolio-item'),
		portfolioLayout = 'fitRows';
		
		if( $container.hasClass('portfolio-centered') ) {
			portfolioLayout = 'masonry';
		}
				
		$container.isotope({
			filter: '*',
			animationEngine: 'best-available',
			layoutMode: portfolioLayout,
			animationOptions: {
			duration: 750,
			easing: 'linear',
			queue: false
		},
		masonry: {
		}
		}, refreshWaypoints());
		
		function refreshWaypoints() {
			setTimeout(function() {
			}, 1000);   
		}
				
		$('nav.portfolio-filter ul a').on('click', function() {
				var selector = $(this).attr('data-filter');
				$container.isotope({ filter: selector }, refreshWaypoints());
				$('nav.portfolio-filter ul a').removeClass('active');
				$(this).addClass('active');
				return false;
		});
		
		function getColumnNumber() { 
			var winWidth = $(window).width(), 
			columnNumber = 1;
		
			if (winWidth > 1200) {
				columnNumber = 5;
			} else if (winWidth > 950) {
				columnNumber = 4;
			} else if (winWidth > 600) {
				columnNumber = 3;
			} else if (winWidth > 400) {
				columnNumber = 2;
			} else if (winWidth > 250) {
				columnNumber = 1;
			}
				return columnNumber;
			}       
			
			function setColumns() {
				var winWidth = $(window).width(), 
				columnNumber = getColumnNumber(), 
				itemWidth = Math.floor(winWidth / columnNumber);
				
				$container.find('.portfolio-item').each(function() { 
					$(this).css( { 
					width : itemWidth + 'px' 
				});
			});
		}
		
		function setPortfolio() { 
			setColumns();
			$container.isotope('reLayout');
		}
			
		$container.imagesLoaded(function () { 
			setPortfolio();
		});
		
		$(window).on('resize', function () { 
		setPortfolio();          
	});
})(jQuery);
</script>
  </body>
</html>
