<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <title>PackCar. You deliver what you choose.</title>


    <!-- Bootstrap core CSS -->
    <link href="{% static "assets/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "assets/css/bootstrap.vertical-tabs.min.css" %}" rel="stylesheet">
    <link href="{% static "assets/css/datepicker.css" %}" rel="stylesheet">
    <link href="{% static "assets/css/bootstrap.vertical-tabs.css" %}" rel="stylesheet">
    <link href="{% static "assets/css/bootstrap-datetimepicker.min.css" %}" rel="stylesheet">

    <!-- Less -->
    <link href="{% static "assets/less/datepicker.less" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "assets/css/style.css" %}" rel="stylesheet">
    <link href="{% static "assets/css/font-awesome.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
    <script src="{% static "assets/js/modernizr.js" %}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPPjrmt2cREeYWp2Ys-CTpvmGUXF6GINo"></script>
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">PackCar.</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/"></a></li>
            <li><a href="/packages">CREATE PACKAGE</a></li>
            <li><a href="/manager">NOTIFICATIONS</a></li>
            <li><a>{{ request.user.username }}</a></li>
            <li><a>|</a></li>
            <li><a href="/logout">log out</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	 
	<!-- *****************************************************************************************************************
	 BLOG CONTENT
	 ***************************************************************************************************************** -->

	 <div class="container mtb">
	 	<div class="row">
	 	
	 		<! -- BLOG POSTS LIST -->
	 		<div class="col-lg-12">
	 			<! -- Blog Post 1 -->
		 		<div class="row">
		 			<h2 class="pull-left" style="margin-right: 15px;">Notifications centre</h2>
		 		</div>
		 		<br>

				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12"> <!-- required for floating -->
				    <!-- Nav tabs -->
				      {% for package in request.user.sent_offers.all %}
                    <ul class="nav nav-tabs">
				      <!-- Tab1 -->
				      <li>
				      	<a data-toggle="tab">
				      	<ul id="vertica-tab-infos">	
				      		<li>
				      			<img class="media-object" src="{% static "assets/img/vectors/box-v.png" %}" alt="box-vector">
					      	</li>
					      	<li>	
					      		<h4 class="media-heading" style="color: #00b3fe;">{{ package.driver.departure }} - {{ package.driver.arrival }}</h4>
								<span>Leaving Date: <b> {{ package.driver.departure_date }}</b></span>
				      		</li>
				      	</ul>
				      	</a>
                          {% if package.accepted == False %}
                            <p>Wait for your driver to accept your package!</p>
                          {% elif package.completed == False %}
                             <p>The driver accepted your package, here's their number: {{ package.driver.phonenumber }}</p>
                          {% elif package.completed == True %}
                                <p>Delivery finished</p>
                          {% endif %}
				      </li>
                    </ul>
				      {% endfor %}
                       {% for route in request.user.received_offers.all %}
				      <!-- Tab1 -->
                                        <ul class="nav nav-tabs">

				      <li>
				      	<a data-toggle="tab">
				      	<ul id="vertica-tab-infos">	
				      		<li>
				      			<img class="media-object" src="{% static "assets/img/vectors/car-v.png" %}" alt="box-vector">
					      	</li>
					      	<li>	
					      		<h4 class="media-heading" style="color: #00b3fe;">{{ route.driver.departure }} - {{ route.driver.arrival }}</h4>
								<span>Leaving Date: <b> {{ route.driver.departure_date }}</b></span>
				      		</li>
				      	</ul>
				      	</a>
                        {% if route.accepted == False %}
                        <a href="/accept/{{route.id}}"><button type="button" class="btn btn-success">Accept</button></a>
                        <a href="/decline/{{route.id}}"><button type="button" class="btn btn-danger">Decline</button></form></a>
                        {% elif route.completed == False %}
                        <p>Here's your client's number: {{ route.package.phonenumber }}</p>
                        <a href="/finish/{{route.id}}"><button type="button" class="btn btn-success">Finish delivery</button></a>
                        {% elif route.completed == True %}
                        <p>Delivery finished</p>
                        {% endif %}
                        <br>
				      </li>
                                    </ul>

				      {% endfor %}
				</div>
<!--

				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				     Tab panes 
				    <div class="tab-content">
				      {% for route in request.user.drivers.all %}
				      <div class="tab-pane active" id="tab{{ route.id }}">
				      	<h4>Pearsons who choosed you: <small><i> (choose the pearson you want to help)</i></small></h4>
				      	<ul id="box-offers" class="ul-{{ route.id }}">
					  {% for package in route.packages.all %}
					  {% if package.accepted %}
					  <li><a> {{ package.departure }}-{{ package.arrival }}</a> <a href="/package/{{ package.slug }}"><b> View the box</b></a></li>
					  {% else %}
				      	  <li id="GheorghitaLaPortita"><input type="checkbox" class="acceptjob" data-id="{{ package.id }}"> {{ package.author.username }}<a href="/package/{{ package.slug }}"><b>  View the box</b></a></li>
					  {% endif %}
					  {% endfor %}
				      	</ul>
					<script>
					  var route_id = "{{ route.id }}";
					  var start = "{{ route.departure }}";
					  var finish = "{{ route.arrival }}";
					</script>
				      	<button class="btn btn-success" onclick="generate(route_id, start, finish)">Plan route</button>
				      	<br>
				      	<br>
				      	<div style="width:400px; height:300px;" id="map{{ route.id }}"></div>
				      </div>
				      {% endfor %}
				    </div>
				</div>  
-->
				
			</div><! --/col-lg-12 -->
	 		
	 	</div><! --/row -->
	 </div><! --/container -->


	<!-- *****************************************************************************************************************
	 FOOTER
	 ***************************************************************************************************************** -->
	 <div id="footerwrap">
	 	<div class="container">
		 	<div class="row">
		 		<div class="col-lg-6 col-md-6 col-sm-12">
		 			<h4>About</h4>
		 			<div class="hline-w"></div>
		 			<p>Our platform was meant to help others with some services, specific for delivering our customers products. We trustly encourage others to use it because we are fully responsable for any bad incidents that may ever appear.</p>
		 		</div>
		 		<div class="col-lg-6 col-md-6 col-sm-12">
		 			<h4>Social Links</h4>
		 			<div class="hline-w"></div>
		 			<p>
		 				<a href="#"><i class="fa fa-facebook"></i></a>
		 				<a href="#"><i class="fa fa-twitter"></i></a>
		 				<a href="#"><i class="fa fa-instagram"></i></a>
		 				<a href="#"><i class="fa fa-tumblr"></i></a>
		 			</p>
		 		</div>
		 	
		 	</div><! --/row -->
	 	</div><! --/container -->
	 </div><! --/footerwrap -->
	 
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
	<script src="{% static "assets/js/retina-1.1.0.js" %}"></script>
	<script src="{% static "assets/js/jquery.hoverdir.js" %}"></script>
	<script src="{% static "assets/js/jquery.hoverex.min.js" %}"></script>
	<script src="{% static "assets/js/jquery.prettyPhoto.js" %}"></script>
  	<script src="{% static "assets/js/jquery.isotope.min.js" %}"></script>

  	<!-- Date Picker -->
  	<script src="{% static "assets/js/bootstrap-datepicker.js" %}"></script>
	<script src="{% static "assets/js/custom.js" %}"></script>
	<script type="text/javascript"
     src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js">
    </script> 
    <script type="text/javascript"
     src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js">
    </script>
    <script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
    </script>
    <script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
    </script>
	<script type="text/javascript">
		$('#datetimepicker1').datetimepicker({
			format: 'hh:mm:ss',
			language: 'eng',
			pickDate: false
		});
	</script>
	<script type="text/javascript">
		$('#datetimepicker2').datetimepicker({
			format: 'hh:mm:ss',
			language: 'eng',
			pickDate: false
		});
	</script>
	<script>
	  $(document).ready(function(){
        $(".acceptjob").change(function(event){
            var post_id = $(this).data("id");
            $.post("/accept/", { "package": post_id }, function(response) {
                 if (response.result == "success") {
                     $(location).attr('href', '/manager/');
                 }
            })
            return true;
        });
    });
	</script>
	<script>
	  function generate(id_number, start, finish){
	       var myOptions = {
          zoom: 10,
          mapTypeId: google.maps.MapTypeId.ROADMAP
          };
      var mapObject = new google.maps.Map(document.getElementById("map" + id_number), myOptions);
          var waypts = []
	  var list = document.getElementsByClassName("ul-"+ id_number)[0];
	  var items = list.getElementsByTagName("li");
	  for(var i = 0; i < items.length; i++)
	  {
			     cities_array = items[i].firstChild.innerHTML;
			     if(items[i].id != "GheorghitaLaPortita"){
			     cities_array = cities_array.split("-")
			     waypts.push({
			     location: cities_array[0] + "+Romania",
			     stopover: true
			     });
			     waypts.push({
			     location: cities_array[1] + "+Romania",
			     stopover: true
			     });
			     }
			     
	  }
      var directionsService = new google.maps.DirectionsService();
        var directionsRequest = {
          origin: start + "+Romania",
          destination: finish + "+Romania",
          optimizeWaypoints: true,
          waypoints: waypts,
          travelMode: google.maps.DirectionsTravelMode.DRIVING,
          unitSystem: google.maps.UnitSystem.METRIC
        };
        directionsService.route(
          directionsRequest,
          function(response, status)
          {
            if (status == google.maps.DirectionsStatus.OK)
            {
              new google.maps.DirectionsRenderer({
                map: mapObject,
                directions: response
              });
            }
          }
          );
	  }
	</script>


  </body>
</html>
